
:root {
    --light-gray: #444;
    --dark-gray: #353535;
    --white: #fff;
    --large-gap: 15px;
    --gap: 2px;
    --padding: 15px 20px;
    --border-radius: 10px;
    --hover: #5d5d5d;
}

body {
    font-family: "Open Sans", serif;
    line-height: 1.5;
    font-size: min(max(12px, 4vw), 16px);
    font-weight: 500;
    color: var(--white);
    background-color: var(--dark-gray);
    hyphens: auto;
    word-wrap: break-word;
    
}

button, a {
    font: inherit;
    color: var(--white);
    background: var(--light-gray);
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(13, 1fr);
    height: 100vh;
    width: 100vw;

    gap: var(--large-gap);
    margin: 0 auto;
    padding: 15px;
    
    position: relative;
}

.wrapper {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.main {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column: span 8 / span 8;
    grid-row: span 11 / span 11;
    grid-row-start: 2;
    gap: var(--large-gap)
}

.is-active {
    background-color: rgb(11, 208, 143);
    transition: background-color .3s ease;
}

.is-active:hover {
    background-color: rgb(10, 160, 110)!important;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #00000071;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}

.modal img {
    max-width: 25vw;
}

.modal--show {
    visibility: visible;
    opacity: 1;
}

.modal__window {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    position: relative;
    background: var(--dark-gray);
    border-radius: var(--border-radius);
    padding: 20px 15px;
    gap: var(--large-gap);

    max-height: 90vh;
    overflow-y: auto;
}

.modal__window button {
    padding: 10px 8px;
    border-radius: var(--border-radius);
    transition: background-color .3s ease;
}

.modal__window button:hover {
    background-color: var(--hover);
}

.modal__buttons {
    display: flex;
    flex-direction: column;
    gap: var(--large-gap);
}

/* =================================== */
/* =================================== */
/* =================================== */


.header {
    grid-column: span 8 / span 8;
}

.header__list {
    display: grid;
    grid-template-columns: 1fr 4.21fr 1fr 1fr 1fr;
    gap: var(--large-gap);
    height: 100%;
}

.header__item {}

.header__link {
    border-radius: var(--border-radius);
    transition: background-color .3s ease;
}

.header__link:hover {
    background-color: var(--hover);
}

.header__button {
    border-radius: var(--border-radius);
    transition: background-color .3s ease;
}

.header__button:hover {
    background-color: var(--hover);
}

.header__edit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--large-gap);
}

.header__button svg,
.header__button path {
    max-width: 24px;
    max-height: 24px;
    fill: var(--white);
}


/* ======================================== */
/* ======================================== */
/* ======================================== */


.order {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);

    grid-column: span 3 / span 3;
    grid-row: span 11 / span 11;

    gap: var(--gap);
}

.order__header {
    display: flex;
    gap: var(--gap);
    grid-column: span 3 / span 3;
    grid-row: span 1 / span 1;
}

.order__prev {
    border-radius: var(--border-radius) 0 0 0;
}

.order__cur {}

.order__next {
    border-radius: 0 var(--border-radius) 0 0;
}

.order__body {
    display: grid;
    gap: var(--gap);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(10, 1fr);

    grid-column: span 3 / span 3;
    grid-row: span 10 / span 10;
}

.order__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    align-items: center;

    padding: var(--large-gap);
    background: var(--light-gray);

    grid-column: span 3 / span 3;
    grid-row: span 1 / span 1;
}

.order__info p:last-child {
    text-align: end;
}

.order__list {
    display: grid;
    gap: var(--gap);

    grid-column: span 3 / span 3;
    grid-row: span 9 / span 9;
    grid-row-start: 2;
    grid-template-rows: repeat(auto-fill, minmax(61px, auto));
}

.order__item {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;

    align-items: center;
    text-align: center;
    padding: var(--large-gap);
    height: 100%;

    grid-column: span 3 / span 3;
    grid-row: span 1 / span 1;
}

.order__item-name {
    justify-self: start;
}

.order__item-amount {
    justify-self: end;
}
.order__item-price {
    justify-self: end;
}

.order__list.scrollable {
    overflow-y: auto;
    max-height: 610px;
}

/* ================================ */
/* ================================ */
/* ================================ */

.category {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: var(--gap);

    grid-column: span 2 / span 2;
    grid-row: span 11 / span 11;
    grid-column-start: 4;
}

.category__title {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2 / span 2;
    background: var(--light-gray);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.category__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);

    grid-column: span 2 / span 2;
    grid-row: span 10 / span 10;
    gap: var(--gap);
}

.category__item {}

.category__item:nth-child(10) {
    border-radius: 0 0 var(--border-radius) 0;
}

.category__item:nth-child(9) .category__button {
    border-radius: 0 0 0 var(--border-radius);
}

.category__button {
    transition: background-color .3s ease;
}

.category__button:hover {
    background-color: var(--hover);
}

.category__next-button {
    border-radius: 0 0 var(--border-radius) 0;
}

.category__back-button,
.category__next-button {
    transition: background-color .3s ease;
}

.category__back-button:hover,
.category__next-button:hover {
    background-color: var(--hover);
}

/* =============================== */
/* =============================== */
/* =============================== */

.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: var(--gap);

    grid-column: span 3 / span 3;
    grid-row: span 11 / span 11;
    grid-column-start: 6;
}

.menu__title {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3 / span 3;
    background: var(--light-gray);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.menu__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    grid-column: span 3 / span 3;
    grid-row: span 10 / span 10;
    gap: var(--gap);
}

.menu__item {

}

.menu__item:nth-child(15) .menu__button {
    border-radius: 0 0 var(--border-radius) 0;
}

.menu__item:nth-child(13) .menu__button {
    border-radius: 0 0 0 var(--border-radius);
}


.menu__button {
    display: flex;
    flex-direction: column;
    /* gap: var(--large-gap); */
    justify-content: space-around;
    
    transition: background-color 0.3s ease;
}

.menu__button:hover {
    background-color: var(--hover);
}

.menu__button span {
    color: #dedede;
}

/* ============================== */
/* ============================== */
/* ============================== */



/* ============================== */
/* ============================== */
/* ============================== */

.footer {
    grid-column: span 8 / span 8;
    grid-row-start: 13;
}

.footer__list {
    display: grid;
    grid-template-columns: 3.1fr 1fr 1fr 3.11fr;
    gap: var(--large-gap);
    height: 100%;
}

.footer__item button,
.footer__item a {
    border-radius: var(--border-radius);
    transition: background-color .3s ease;
}

.footer__item button:hover,
.footer__item a:hover {
    background-color: var(--hover);
}



.footer__payment {
    background-color: rgb(11, 208, 143);
    display: flex;
    gap: var(--large-gap);
}

.footer__payment:hover {
    background-color: rgb(10, 160, 110)!important;
}

.footer__discount {}

.footer__code {
}
.footer__save {
}


/* ========================================== */
/* ========================================== */
/* ========================================== */

@media (max-width: 1025px) {
    body {
        font-size: 14px;
    }

    .category {
        overflow-wrap: break-word;
        word-break: break-all;
        hyphens: auto;
    }

    .menu {
        overflow-wrap: break-word;
        word-break: break-all;
        hyphens: auto;
    }
}

@media (max-width: 1440px) {
    .order__list.scrollable {
        overflow-y: auto;
        max-height: 540px;
    }
}

@media (max-width: 770px) {
    body {
        font-size: 12px;
    }
}

@media (max-height: 600px) {
    .header__button svg,
    .header__button path {
        max-width: 18px;
        max-height: 18px;
    }
}

@media (max-height: 460px) {
    body {
        font-size: 10px;
    }
}

@media (max-height: 460px) {
    .order__list {
        grid-template-rows: none;
    }
}

@media (max-height: 330px) {
    .order__item {
        padding: var(--gap)
    }

    .header__button svg,
    .header__button path {
        max-width: 14px;
        max-height: 14px;
    }
}
