<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Админ-Панель</title>

        <link href="./static/admin/reset.css" rel="stylesheet">
        <link rel="stylesheet" href="./static/admin/admin.css"/>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        <link rel="icon" type="image/x-icon" href="./static/favicon.ico">
    </head>
    <body>

        <main class="main">
            <aside class="aside">
                <h2 class="aside__title">Админ-панель</h2>
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <button class="nav__button nav__button--main">Главная</button>
                        </li>
                        <li class="nav__item">
                            <button class="nav__button nav__button--product">Товары</button>
                        </li>
                        <li class="nav__item">
                            <button class="nav__button nav__button--category">Категории</button>
                        </li>
                        <li class="nav__item">
                            <button class="nav__button nav__button--warehouse">Склад</button>
                        </li>
                        <li class="nav__item">
                            <button class="nav__button nav__button--delivery open-button">Поставки</button>
                        </li>
                    </ul>
                </nav>
            </aside>

            <div class="table-container">
                <div class="table__product">
                    <!-- Здесь будет генерироваться таблица с товарами -->
                </div>
                <div class="table__category">
                    <!-- Здесь будет генерироваться таблица с категориями -->
                </div>
                <div class="table__warehouse">
                    <!-- Здесь будет генерироваться таблица со складом -->
                </div>
                <div class="talbe__delivery">
                    <!-- Здесь будет генерироваться таблица с поставками -->
                </div>
            </div>

            <div class="control">
                <div class="products">

                    <ul class="control__list">
                        <li class="control__item">
                            <h3>Добавить продукт</h3>
                        </li>
                        <li class="control__item">
                            <select id="products__add-category" name="products__add-category">
                                <option value="">Выберите родительскую категорию</option>
                            </select>
                        </li>
                        <li class="control__item">
                            <input type="text" id="products__add-name" name="products__add-name" placeholder="Название">
                        </li>
                        <li class="control__item">
                            <input type="number" id="products__add-cost" name="products__add-cost" placeholder="Стоимость">
                        </li>
                        <li class="control__item">
                            <button id="products__add-button">Добавить</button>
                        </li>
                    </ul>

                    <ul class="control__list">
                        <li class="control__item">
                            <h3>Обновить продукт</h3>
                        </li>
                        <li class="control__item">
                            <input type="number" id="products__update-id" name="products__update-id" placeholder="ID">
                        </li>
                        <li class="control__item">
                            <input type="text" id="products__update-name" name="products__update-name" placeholder="Название">
                        </li>
                        <li class="control__item">
                            <select id="products__update-category" name="products__update-category"></select>
                        </li>
                        <li class="control__item">
                            <input type="number" id="products__update-cost" name="products__update-cost" placeholder="Стоимость">
                        </li>
                        <li class="control__item">
                            <button id="products__update-button">Изменить</button>
                        </li>
                    </ul>

                    <ul class="control__list">
                        <li class="control__item">
                            <h3>Удалить продукт</h3>
                        </li>
                        <li class="control__item">
                            <input type="number" id="products__delete-id" placeholder="ID">
                        </li>
                        <li class="control__item">
                            <button id="products__delete-button">Удалить</button>
                        </li>
                    </ul>

                </div>

                <div class="categories">

                    <ul class="control__list">
                        <li class="control__item">
                            <h3>Добавить категорию</h3>
                        </li>
                        <li class="control__item">
                            <select id="categories__add-category" name="categories__add-category">
                                <option value="">Выберите родительскую категорию</option>
                            </select>
                        </li>
                        <li class="control__item">
                            <input type="text" id="categories__add-name" name="categories__add-name" placeholder="Название">
                        </li>
                        <li class="control__item">
                            <button id="categories__add-button">Добавить</button>
                        </li>
                    </ul>
                    
                    <ul class="control__list">
                        <li class="control__item">
                            <h3>Обновить категорию</h3>
                        </li>
                        <li class="control__item">
                            <input type="number" id="categories__update-id" name="categories__update-id" placeholder="ID">
                        </li>
                        <li class="control__item">
                            <select id="categories__update-category" name="categories__update-category">
                                <option value="">Выберите родительскую категорию</option>
                            </select>
                        </li>
                        <li class="control__item">
                            <input type="text" id="categories__update-name" name="categories__update-name" placeholder="Название">
                        </li>
                        <li class="control__item">
                            <button id="categories__update-button">Обновить</button>
                        </li>
                    </ul>
                    
                    <ul class="control__list">
                        <li class="control__item">
                            <h3>Удалить категорию</h3>
                        </li>
                        <li class="control__item">
                            <input type="number" id="categories__delete-id" name="categories__delete-id" placeholder="ID">
                        </li>
                        <li class="control__item">
                            <button id="categories__delete-button">Удалить</button>
                        </li>
                    </ul>

                </div>

                <div class="warehouse">

                    <ul class="control__list">
                        <li class="control__item">
                            <h3>Добавить товар</h3>
                        </li>
                        <li class="control__item">
                            <select id="warehouse__add-category" name="warehouse__add-category">
                                <option value="">Выберите родительскую категорию</option>
                            </select>
                        </li>
                        <li class="control__item">
                            <input type="number" id="warehouse__add-barcode" name="warehouse__add-barcode" placeholder="Баркод">
                        </li>
                        <li class="control__item">
                            <input type="text" id="warehouse__add-name" name="warehouse__add-name" placeholder="Название">
                        </li>
                        <li class="control__item">
                            <input type="number" id="warehouse__add-retail" name="warehouse__add-retail" placeholder="Закупочная цена">
                        </li>
                        <li class="control__item">
                            <input type="number" id="warehouse__add-purchasing" name="warehouse__add-purchasing" placeholder="Розничная цена">
                        </li>
                        <li class="control__item">
                            <input type="number" id="warehouse__add-quantity" name="warehouse__add-quantity" placeholder="Количество">
                        </li>
                        <li class="control__item">
                            <button id="warehouse__add-button">Добавить</button>
                        </li>
                    </ul>

                    <ul class="control__list">
                        <li class="control__item">
                            <h3>Обновить товар</h3>
                        </li>
                        <li class="control__item">
                            <input type="number" id="warehouse__update-id" name="warehouse__update-id" placeholder="ID">
                        </li>
                        <li class="control__item">
                            <select id="warehouse__update-category" name="warehouse__update-category">
                                <option value="">Выберите родительскую категорию</option>
                            </select>
                        </li>
                        <li class="control__item">
                            <input type="number" id="warehouse__update-barcode" name="warehouse__update-barcode" placeholder="Баркод">
                        </li>
                        <li class="control__item">
                            <input type="text" id="warehouse__update-name" name="warehouse__update-name" placeholder="Название">
                        </li>
                        <li class="control__item">
                            <input type="number" id="warehouse__update-retail" name="warehouse__update-retail" placeholder="Закупочная цена">
                        </li>
                        <li class="control__item">
                            <input type="number" id="warehouse__update-purchasing" name="warehouse__update-purchasing" placeholder="Розничная цена">
                        </li>
                        <li class="control__item">
                            <input type="number" id="warehouse__update-quantity" name="warehouse__update-quantity" placeholder="Количество">
                        </li>
                        <li class="control__item">
                            <button id="warehouse__update-button">Обновить</button>
                        </li>
                    </ul>

                    <ul class="control__list">
                        <li class="control__item">
                            <h3>Удалить товар</h3>
                        </li>
                        <li class="control__item">
                            <input type="number" id="warehouse__delete-id" placeholder="ID">
                        </li>
                        <li class="control__item">
                            <button id="warehouse__delete-button">Удалить</button>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="delivery__modal">
                <div class="delivery__modal-title">
                    Внесение поставки
                </div>
                <div class="delivery__modal-close">
                    <button class="delivery__close-button">
                        X
                    </button>
                </div>
                <div class="delivery__modal-inner">
                    <input type="number" id="delivery__modal-scan" name="delivery__modal-scan" placeholder="Баркод">
                </div>
            </div>
            <div class="delivery__modal-overlay"></div>
        </main>
        

        <script type="module" src="../static/admin/navbar.js"></script>
        <script type="module" src="../static/admin/admin-category.js"></script>
        <script type="module" src="../static/admin/admin-products.js"></script>
        <script type="module" src="../static/admin/admin-warehouse.js"></script>
        <script src="../static/admin/admin-delivery.js"></script>
        <script>
            
        </script>
            
            
    </body>
</html>