<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Cashier App</title>
        <link rel="stylesheet" href="./static/index/styles.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
            rel="stylesheet"
        />
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    </head>
    <body>
        <div class="grid-container">
            <div class="navbar">
                <div class="navbar-back">
                    <button>Назад</button>
                </div>

                <div class="navbar-edit">
                    <button>Редактировать</button>
                </div>

                <div class="navbar-group">
                    <div class="navbar-guests">
                        <button id="guests-button">Гости</button>
                    </div>
                
                    <div class="navbar-notifications">
                        <button id="notifications-button">Уведомления</button>
                    </div>
                
                    <div class="navbar-search">
                        <button id="search-button">Поиск</button>
                        <input type="text" id="search-input" style="display: none; width: 0; transition: width 0.3s;" />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="order-area">
                    <div class="order-header">
                        <div class="prev-order">
                            <button>〈</button>
                        </div>

                        <div class="curr-oreder">
                            <button>Заказ</button>
                        </div>

                        <div class="next-order">
                            <button>〉</button>
                        </div>
                    </div>

                    <div class="order-body">
                        <div class="order-info">
                            <div>Заказ</div>
                            <div id="total-amount">0 ₽</div>
                        </div>
                        <div class="order-guest">Гость 1</div>
                        <div id="order-items">
                            <!-- Элементы заказа будут добавляться сюда -->
                        </div>
                    </div>

                    <div class="order-footer">
                        <div class="order-footer-buttons">
                            <button class="scroll-up">Вверх</button>
                            <button class="scroll-down">Вниз</button>
                            <button class="add-guest">+Гость</button>
                        </div>
                    </div>
                </div>

                <div class="menu-area">
                    <div class="menu-header">
                        <div>Меню</div>
                    </div>

                    <div class="menu-body">
                        <!-- Генерация категорий -->
                    </div>
                </div>

                <div class="position-area">
                    <div class="position-header">
                        <div>Категория</div>
                    </div>

                    <div class="position-body">
                        <!-- Генерация продуктов -->
                    </div>
                </div>
            </div>
            <div class="footer-container">
                <div class="order-payment">
                    <button>Оплата</button>
                </div>
                <div class="menu-footer">
                    <div><button>Скидка</button></div>
                    <div><button>Код</button></div>
                </div>
                <div class="position-footer">
                    <button>Сохранить</button>
                </div>
            </div>
        </div>
        <script src="./static/index/navbar.js"></script>
        <script src="./static/index/index.js"></script>
    </body>
</html>
