:root {
    --main-bg-color: #444;
    --second-bg-color: #3a3a3a;
    --little-gap: 2px;
    --medium-gap: 0.25em;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-weight: 600;
}

html,
body {
    height: 100%;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: #111;
}

button {
    cursor: pointer;
}

.grid-container {
    min-width: 80vw;
    min-height: 80vh;
    max-height: 100vh;
    max-width: 100vw;
    padding: 0.5em;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    text-align: center;
    gap: var(--medium-gap);
}

.navbar-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--medium-gap);
}

.navbar button {
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    padding: 1.35em;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.navbar-search {
    position: relative;
}

.navbar-search input {
    display: none;
    width: 100%;
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    padding: 1.35em;
    border-radius: 5px;
    font-size: 1em;
}

.navbar-search.active input {
    display: block;
}

.navbar-search.active button {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    padding-top: 0.25em;
    padding-bottom: 0.05em;
    gap: var(--medium-gap);
}

.order-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--little-gap);
    padding-bottom: 2px;
}

.order-header button {
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    padding: 1.35em;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.prev-order button {
    border-top-left-radius: 10px;
}

.next-order button {
    border-top-right-radius: 10px;
}

.order-body {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    gap: var(--little-gap);
}

.order-guest {
    padding: 22px;
    background-color: var(--main-bg-color);
}

.order-info {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
    padding: 22px;
}

.order-area {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.order-footer {
    margin-top: auto;
}

#order-items {
    flex-grow: 1;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
    gap: var(--little-gap);
}

.order-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    padding: 22px;
}

.order-item button {
    max-width: 100%;
    box-sizing: border-box;
}

.order-item-name {
    text-align: left;
}

.order-item-quantity {
    text-align: right;
}

.order-item-total {
    text-align: right;
}

.order-footer-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--medium-gap);
}

.order-footer button {
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    padding: 1.35em;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.order-payment button {
    background-color: #1bb141;
    color: white;
    border: none;
    padding: 1.35em;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.menu-header,
.position-header {
    display: flex;
    background-color: var(--main-bg-color);
    color: white;
    padding: 1.35em;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.position-header {
    background-color: var(--second-bg-color);
}

.menu-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 2fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: var(--little-gap);
    padding-top: 2px;
}

.scroll-button {
    background-color: var(--main-bg-color);
    border: none;
    grid-column: 2;
    grid-row: 5;
    padding: 1em;
    width: 100%;
    height: 100%;
}

.menu-item button {
    padding: minmax(0.75em 1em);
    background-color: var(--main-bg-color);
    border: none;
    width: 100%;
    min-height: 134px;
    max-height: 134px;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.menu-item:nth-child(9) button {
    border-bottom-left-radius: 10px;
}

.menu-item:nth-child(10) button {
    border-bottom-right-radius: 10px;
}

.position-item:nth-child(13) button {
    border-bottom-left-radius: 10px;
}

.position-item:nth-child(15) button {
    border-bottom-right-radius: 10px;
}

.menu-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.menu-footer button {
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    padding: 1.35em;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.position-body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: var(--little-gap);
    padding-top: 2px;
}

.position-item {
    display: flex;
    justify-content: center;
}

.position-item button {
    padding: 0.2em;
    background-color: var(--second-bg-color);
    border: none;
    width: 100%;
    min-height: 134px;
    max-height: 134px;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
}

.product-name {
    color: white;
    display: block;
}

.product-price {
    color: #cacaca;
    display: block;
}

.position-footer button {
    background-color: var(--main-bg-color);
    color: white;
    border: none;
    padding: 1.35em;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--medium-gap);
    padding-top: 0.25em;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media (max-width: 1000px) {
    /* .position-body {
        font-size: 10px;
    } */

    .position-body {
        grid-template-columns: repeat(2, 1fr);
    }
}
