:root {
    --color-gray-dark: #292929;
    --color-gray-light: #9b9b9b;
    --color-red: #d14b4a;
    --color-white: #fefefe;
}

body {
    box-sizing: border-box;
    background: var(--color-gray-light);
    color: var(--color-white);
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    height: 100%;
}

.container {
    margin: 0 auto;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: .75fr 5fr 2fr;
}

.aside {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    max-width: 280px;

    background: var(--color-gray-dark);
    color: var(--color-white);
}

.aside__title {
    padding: 25px 30px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.nav {
    padding: 10px 20px;
}

.nav__item {
    margin-bottom: 20px;
    border-radius: 5px;

    transition: all .5s;
}

.nav__item:last-child {
    margin-bottom: 0;
}

.nav__button {
    background: var(--color-gray-dark);
    color: var(--color-white);
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;

    transition: all .5s;
}

.nav__item:hover,
.nav__item:hover .nav__button {
    background-color: var(--color-red);
}


/* ============================================ */

.table__product,
.table__warehouse,
.table__category {
    display: none;
}

.table-container {
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #ddd;
    font-size: 16px;
}

tr th {
    color: white;
}

th,
td {
    background-color: #fff;
    padding: 10px;
    color: #000000;
    text-align: left;
}

th {
    background-color: #d14b4a;
}


/* =========================================== */

.control {
    padding: 20px;
}

.products,
.categories,
.warehouse {
    display: none;
}

.control__list {
    padding: 5px;
    background: var(--color-gray-dark);
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 15px;
}

.control__list .control__item:not(:first-child) {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: height 0.3s ease, opacity 0.3s ease;
    display: none;
}

.control__list .control__item.visible {
    height: auto;
    opacity: 1;
}

.control__item {
    padding: 5px;
}

.control__item input,
.control__item button,
.control__item select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
}

.control__item button {
    color: var(--color-white);
    background: var(--color-red);
    border-radius: 5px;

    transition: all .5s;
}

.control__item h3 {
    cursor: pointer;
}


/* =========================== */

.delivery__modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    background: #00000071;
    padding: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.delivery__modal-window {
    position: relative;
    background: var(--color-gray-light);
    border: 1px solid var(--color-gray-dark);
    border-radius: 20px;
    max-width: 428px;
    padding: 20px;
}

.modal--open {
    opacity: 1;
    visibility: visible;
}

.delivery__modal-title {
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.delivery__modal-close {
    position: absolute;
    right: 17px;
    top: 10px;
    max-width: 32px;
    max-height: 32px;
}

.delivery__close-button {
    cursor: pointer;
}

.delivery__close-button svg,
.delivery__close-button path {
    max-width: 32px;
    max-height: 32px;
    fill: var(--color-white);
}

.delivery__modal-inner {
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delivery__modal-inner input,
.delivery__modal-inner select,
.delivery__modal-inner button {
    padding: 10px 15px;
    border-radius: 5px;
}

.delivery__modal-inner button {
    background-color: var(--color-red);
    color: var(--color-white);
}

.delivery__modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
}

.modal__overlay--open {
    visibility: visible;
    opacity: 1;
}
