* {
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: #8a8a8a;
    color: white;
}

.admin-container {
    display: grid;
    grid-template-columns: minmax(270px, 1fr) 6fr;
    gap: 1em;
    width: 100vw;
    height: 100vh;
}

.admin-navbar {
    gap: 15px;
    padding: 20px;
    height: 100%;
    background-color: #292929;
    color: #9b9b9b;
    display: flex;
    flex-direction: column;
}

.admin-navbar h2 {
    padding-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.admin-navbar button {
    color: #dadada;
    background-color: #292929;
    border: none;
    width: 100%;
    text-align: start;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-navbar button:hover {
    background-color: #d14b4a;
    color: #fff;
}

.admin-products,
.admin-categories {
    display: none;
    grid-template-columns: 1fr 0.5fr;
    padding: 1.5em;
    gap: 1em;
}

.products-control-panel,
.categories-control-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.products-control-panel button,
.categories-control-panel button {
    padding: 0.5em;
    border: none;
    background-color: #d14b4a;
    cursor: pointer;
    border-radius: 5px;
}

.products-add,
.products-edit,
.products-delete,
.categories-add,
.categories-edit,
.categories-delete {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #292929;
    padding: 8px;
    border-radius: 5px;
}

option,
select,
input {
    color: black;
    font-size: 16px;
    padding: 8px;
}

.products-table,
.categories-table {
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid #ddd;
    font-size: 16px;
}

tr th {
    color: white;
}

th,
td {
    background-color: #fff;
    padding: 8px;
    color: #000000;
    text-align: left;
}

th {
    background-color: #d14b4a;
}
